@charset "utf-8";

.wrapper,
.course-table {
  font-size: 12px;
}
.wrapper *,
.course-table * {
  box-sizing: content-box;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container span.form-control-next {
  display: block;
  padding: 6px 0px;
}

table.timetable {
  --td-size-1: 90px;
  --td-size-2: 60px;
  --gap-size: 10px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1mm solid #ddd;
}

.course-table table.timetable caption {
  padding: 0px;
  display: none;
}
.table-container table.timetable tfoot {
  display: table-caption;
}

table.timetable caption h1 {
  font-size: 18pt;
  margin: 0;
  font-weight: bold;
  line-height: 2;
}

table.timetable caption p {
  display: flex;
  font-size: 10pt;
  line-height: 2;
  padding: 1mm;
  justify-content: space-between;
}
table.timetable caption p > span {
  flex: 0 1 auto;
  max-width: 40%;
  text-align: left;
}
table.timetable caption p > span > label {
  font-weight: bold;
}

table.timetable th,
table.timetable td {
  border: 0;
  box-shadow: inset 0 0 0 0.1mm rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

table.timetable th {
  font-size: 1.2em;
}

table.timetable thead th {
  font-size: 1.3em;
  height: 2em;
}

table.timetable tbody td {
  height: var(--td-size-1);
}

table.timetable tbody.s3 td {
  height: var(--td-size-2);
}

.course-table table.timetable tfoot {
  display: none;
}
.table-container table.timetable tfoot {
  display: table-footer-group;
}

table.timetable tfoot td {
  text-align: right;
  padding-right: 0.2em;
  color: #999 !important;
}

table.timetable tbody.s1 tr:first-child th:nth-child(2) {
  width: 2.4em;
}
table.timetable tbody.s1 tr:first-child th:first-child,
table.timetable tbody.s2 tr:first-child th:first-child,
table.timetable tbody.s3 tr:first-child th:first-child {
  width: 1.5em;
  line-height: 3;
  padding: 0.5em;
}
table.timetable tbody.s1 tr:first-child th:first-child {
  background: #ffffce;
}
table.timetable tbody.s2 tr:first-child th:first-child {
  background: #e3ffe3;
}
table.timetable tbody.s3 tr:first-child th:first-child {
  background: #ffe3e3;
}
table.timetable tbody.s1 tr:nth-child(2) th,
table.timetable tbody.s1 tr:nth-child(2) td,
table.timetable tbody.s2 tr:nth-child(2) th,
table.timetable tbody.s2 tr:nth-child(2) td {
  box-shadow: inset 0 0 0 0.1mm rgba(0, 0, 0, 0.2),
    inset 0 -0.4mm 0 -0.2mm rgba(0, 0, 0, 0.2),
    0 0.4mm 0 -0.2mm rgba(0, 0, 0, 0.2) !important;
}

table.timetable tbody.s2 tr:first-child th,
table.timetable tbody.s2 tr:first-child td,
table.timetable tbody.s3 tr:first-child th,
table.timetable tbody.s3 tr:first-child td {
  border-top: var(--gap-size) solid #ddd;
}

table.timetable tbody th.span {
  position: relative;
}

.cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.2;
  background: #dbecfb;
  background-clip: padding-box !important;
  border: 4px solid transparent;
  border-radius: 8px;
  z-index: 10;
  box-sizing: border-box;

  box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transition: all ease 0.2s;
  cursor: default;
}
.cell > .start,
.cell > .end {
  position: absolute;
  font-size: 0.6em;
  padding: 3px;
  border-radius: 6px 0 6px 0;
  opacity: 0.3;
}
.cell > .start {
  top: 0;
  left: 0;
}
.cell > .end {
  bottom: 0;
  right: 0;
}
.cell > .c {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  border-radius: 8px;
}
@media screen {
  .cell.cover:hover,
  .cell:hover {
    transform: scale(1.1);
    z-index: 100 !important;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.4);
    border-color: #124fc0;
    border-width: 2px;
  }
  .cell:hover > .start,
  .cell:hover > .end {
    opacity: 1;
    background: #fff;
    font-weight: bold;
    border: solid #ccc;
    font-size: 0.8em;
  }
  .cell:hover > .start {
    border-width: 0 1px 1px 0;
  }
  .cell:hover > .end {
    border-width: 1px 0 0 1px;
  }

  .cell:hover .title {
    margin: 1px 2px;
  }
  .cell[shim-start]:before,
  .cell[shim-end]:after {
    transition: all ease 0.4s;
  }
  .cell[shim-start]:hover:before,
  .cell[shim-end]:hover:after {
    height: 0;
  }
}
.cell > .c > * {
  flex: 1 1 100%;
}

.cell[data-range="1"] {
  height: 100%;
}
.cell[data-range="2"] {
  height: 200%;
}
.cell[data-range="3"] {
  height: 300%;
}
.cell[data-range="4"] {
  height: 400%;
}
.cell[data-range="5"] {
  height: 500%;
}

.s1 tr:nth-child(1) .cell[data-range="6"] {
  height: calc(var(--td-size-1) * 6 + var(--gap-size));
}
.s1 tr:nth-child(1) .cell[data-range="7"] {
  height: calc(var(--td-size-1) * 7 + var(--gap-size));
}
.s1 tr:nth-child(1) .cell[data-range="8"] {
  height: calc(var(--td-size-1) * 8 + var(--gap-size));
}
.s1 tr:nth-child(1) .cell[data-range="9"] {
  height: calc(var(--td-size-1) * 9 + var(--gap-size));
}
.s1 tr:nth-child(1) .cell[data-range="10"] {
  height: calc(var(--td-size-1) * 10 + var(--gap-size));
}
.s1 tr:nth-child(1) .cell[data-range="11"] {
  height: calc(
    var(--td-size-1) * 10 + var(--gap-size) * 2 + var(--td-size-2) * 1
  );
}
.s1 tr:nth-child(1) .cell[data-range="12"] {
  height: calc(
    var(--td-size-1) * 10 + var(--gap-size) * 2 + var(--td-size-2) * 2
  );
}
.s1 tr:nth-child(1) .cell[data-range="13"] {
  height: calc(
    var(--td-size-1) * 10 + var(--gap-size) * 2 + var(--td-size-2) * 3
  );
}

.s1 tr:nth-child(2) .cell[data-range="5"] {
  height: calc(var(--td-size-1) * 5 + var(--gap-size));
}
.s1 tr:nth-child(2) .cell[data-range="6"] {
  height: calc(var(--td-size-1) * 6 + var(--gap-size));
}
.s1 tr:nth-child(2) .cell[data-range="7"] {
  height: calc(var(--td-size-1) * 7 + var(--gap-size));
}
.s1 tr:nth-child(2) .cell[data-range="8"] {
  height: calc(var(--td-size-1) * 8 + var(--gap-size));
}
.s1 tr:nth-child(2) .cell[data-range="9"] {
  height: calc(var(--td-size-1) * 9 + var(--gap-size));
}
.s1 tr:nth-child(2) .cell[data-range="10"] {
  height: calc(
    var(--td-size-1) * 9 + var(--gap-size) * 2 + var(--td-size-2) * 1
  );
}
.s1 tr:nth-child(2) .cell[data-range="11"] {
  height: calc(
    var(--td-size-1) * 9 + var(--gap-size) * 2 + var(--td-size-2) * 2
  );
}
.s1 tr:nth-child(2) .cell[data-range="12"] {
  height: calc(
    var(--td-size-1) * 9 + var(--gap-size) * 2 + var(--td-size-2) * 3
  );
}

.s1 tr:nth-child(3) .cell[data-range="4"] {
  height: calc(var(--td-size-1) * 4 + var(--gap-size));
}
.s1 tr:nth-child(3) .cell[data-range="5"] {
  height: calc(var(--td-size-1) * 5 + var(--gap-size));
}
.s1 tr:nth-child(3) .cell[data-range="6"] {
  height: calc(var(--td-size-1) * 6 + var(--gap-size));
}
.s1 tr:nth-child(3) .cell[data-range="7"] {
  height: calc(var(--td-size-1) * 7 + var(--gap-size));
}
.s1 tr:nth-child(3) .cell[data-range="8"] {
  height: calc(var(--td-size-1) * 8 + var(--gap-size));
}
.s1 tr:nth-child(3) .cell[data-range="9"] {
  height: calc(
    var(--td-size-1) * 8 + var(--gap-size) * 2 + var(--td-size-2) * 1
  );
}
.s1 tr:nth-child(3) .cell[data-range="10"] {
  height: calc(
    var(--td-size-1) * 8 + var(--gap-size) * 2 + var(--td-size-2) * 2
  );
}
.s1 tr:nth-child(3) .cell[data-range="11"] {
  height: calc(
    var(--td-size-1) * 8 + var(--gap-size) * 2 + var(--td-size-2) * 3
  );
}

.s1 tr:nth-child(4) .cell[data-range="3"] {
  height: calc(var(--td-size-1) * 3 + var(--gap-size));
}
.s1 tr:nth-child(4) .cell[data-range="4"] {
  height: calc(var(--td-size-1) * 4 + var(--gap-size));
}
.s1 tr:nth-child(4) .cell[data-range="5"] {
  height: calc(var(--td-size-1) * 5 + var(--gap-size));
}
.s1 tr:nth-child(4) .cell[data-range="6"] {
  height: calc(var(--td-size-1) * 6 + var(--gap-size));
}
.s1 tr:nth-child(4) .cell[data-range="7"] {
  height: calc(var(--td-size-1) * 7 + var(--gap-size));
}
.s1 tr:nth-child(4) .cell[data-range="8"] {
  height: calc(
    var(--td-size-1) * 7 + var(--gap-size) * 2 + var(--td-size-2) * 1
  );
}
.s1 tr:nth-child(4) .cell[data-range="9"] {
  height: calc(
    var(--td-size-1) * 7 + var(--gap-size) * 2 + var(--td-size-2) * 2
  );
}
.s1 tr:nth-child(4) .cell[data-range="10"] {
  height: calc(
    var(--td-size-1) * 7 + var(--gap-size) * 2 + var(--td-size-2) * 3
  );
}

.s1 tr:nth-child(5) .cell[data-range="2"] {
  height: calc(var(--td-size-1) * 2 + var(--gap-size));
}
.s1 tr:nth-child(5) .cell[data-range="3"] {
  height: calc(var(--td-size-1) * 3 + var(--gap-size));
}
.s1 tr:nth-child(5) .cell[data-range="4"] {
  height: calc(var(--td-size-1) * 4 + var(--gap-size));
}
.s1 tr:nth-child(5) .cell[data-range="5"] {
  height: calc(var(--td-size-1) * 5 + var(--gap-size));
}
.s1 tr:nth-child(5) .cell[data-range="6"] {
  height: calc(var(--td-size-1) * 6 + var(--gap-size));
}
.s1 tr:nth-child(5) .cell[data-range="7"] {
  height: calc(
    var(--td-size-1) * 6 + var(--gap-size) * 2 + var(--td-size-2) * 1
  );
}
.s1 tr:nth-child(5) .cell[data-range="8"] {
  height: calc(
    var(--td-size-1) * 6 + var(--gap-size) * 2 + var(--td-size-2) * 2
  );
}
.s1 tr:nth-child(5) .cell[data-range="9"] {
  height: calc(
    var(--td-size-1) * 6 + var(--gap-size) * 2 + var(--td-size-2) * 3
  );
}

.s2 tr:nth-child(1) .cell[data-range="6"] {
  height: calc(var(--td-size-1) * 5 + var(--gap-size) + var(--td-size-2) * 1);
}
.s2 tr:nth-child(1) .cell[data-range="7"] {
  height: calc(var(--td-size-1) * 5 + var(--gap-size) + var(--td-size-2) * 2);
}
.s2 tr:nth-child(1) .cell[data-range="8"] {
  height: calc(var(--td-size-1) * 5 + var(--gap-size) + var(--td-size-2) * 3);
}

.s2 tr:nth-child(2) .cell[data-range="5"] {
  height: calc(var(--td-size-1) * 4 + var(--gap-size) + var(--td-size-2) * 1);
}
.s2 tr:nth-child(2) .cell[data-range="6"] {
  height: calc(var(--td-size-1) * 4 + var(--gap-size) + var(--td-size-2) * 2);
}
.s2 tr:nth-child(2) .cell[data-range="7"] {
  height: calc(var(--td-size-1) * 4 + var(--gap-size) + var(--td-size-2) * 2);
}

.s2 tr:nth-child(3) .cell[data-range="4"] {
  height: calc(var(--td-size-1) * 3 + var(--gap-size) + var(--td-size-2) * 1);
}
.s2 tr:nth-child(3) .cell[data-range="5"] {
  height: calc(var(--td-size-1) * 3 + var(--gap-size) + var(--td-size-2) * 2);
}
.s2 tr:nth-child(3) .cell[data-range="6"] {
  height: calc(var(--td-size-1) * 3 + var(--gap-size) + var(--td-size-2) * 3);
}

.s2 tr:nth-child(4) .cell[data-range="3"] {
  height: calc(var(--td-size-1) * 2 + var(--gap-size) + var(--td-size-2) * 1);
}
.s2 tr:nth-child(4) .cell[data-range="4"] {
  height: calc(var(--td-size-1) * 2 + var(--gap-size) + var(--td-size-2) * 2);
}
.s2 tr:nth-child(4) .cell[data-range="5"] {
  height: calc(var(--td-size-1) * 2 + var(--gap-size) + var(--td-size-2) * 3);
}

.s2 tr:nth-child(5) .cell[data-range="2"] {
  height: calc(var(--td-size-1) * 1 + var(--gap-size) + var(--td-size-2) * 1);
}
.s2 tr:nth-child(5) .cell[data-range="3"] {
  height: calc(var(--td-size-1) * 1 + var(--gap-size) + var(--td-size-2) * 2);
}
.s2 tr:nth-child(5) .cell[data-range="4"] {
  height: calc(var(--td-size-1) * 1 + var(--gap-size) + var(--td-size-2) * 3);
}

.cell .number {
  font-size: 1em;
  font-weight: normal;
}

.cell .title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 4px;
  margin: 1px;
  background: rgba(255, 255, 255, 0.7);
  color: #074898;
  align-self: stretch;
}

.cell .teacher .name {
  white-space: pre-wrap;
}

.cell .teacher .name:after {
  content: ",";
}

.cell .teacher .name:last-of-type:after {
  content: "";
}

.cell .week {
  white-space: nowrap;
  margin-right: 0.2em;
}

.cell .week:after {
  content: "周";
}

.cell .week.odd:after {
  content: "";
}

.cell .week.even:after {
  content: "";
}

.cell .classroom {
  margin-top: 0.5mm;
}

.cell .classroom .name {
  white-space: nowrap;
  border-radius: 5mm;
  padding: 1px 4px;
  font-weight: bold;
  background: #fff !important;
  line-height: 1.5;
}
.cell *:empty {
  display: none;
}

.cell .timespan {
  white-space: nowrap;
}

.cell .timespan:after {
  content: "节";
}

.cell .classes {
  list-style: none;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.cell[shim-start],
.cell[shim-end] {
  width: calc(100% - 1mm);
  top: -0.5mm;
}

.cell[shim-start]:before,
.cell[shim-end]:after {
  content: "";
  flex: 0 0 auto;
  width: 100%;
}

/*.cell[shim-start="1"]:before,.cell[shim-end="1"]:after{height: calc(var(--td-size-1) - 1mm);}*/
/*.cell[shim-start="2"]:before,.cell[shim-end="2"]:after{height: calc(var(--td-size-1) * 2 - 1mm);}*/
/*.cell[shim-start="3"]:before,.cell[shim-end="3"]:after{height: calc(var(--td-size-1) * 3 - 1mm);}*/
/*.cell[shim-start="4"]:before,.cell[shim-end="4"]:after{height: calc(var(--td-size-1) * 4 - 1mm);}*/

/*.s3 .cell[shim-start="1"]:before,.s3 .cell[shim-end="1"]:after{height: calc(var(--td-size-2) - 1mm);}*/
/*.s3 .cell[shim-start="2"]:before,.s3 .cell[shim-end="2"]:after{height: calc(var(--td-size-2) * 2 - 1mm);}*/

.cell.cover {
  width: calc(100% - 1mm);
  top: 0.5mm;
  left: auto;
  right: -0.5mm;
  z-index: 20;
  box-shadow: inset -1px -1px 2px 0 rgba(0, 0, 0, 0.3),
    inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

@page {
  margin: 0;
  padding: 0;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    -webkit-text-size-adjust: none;
  }
  .no-print {
    display: none;
  }
  body .container-fluid,
  body .container {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .wrapper,
  .course-table {
    padding: 0.3cm 0.2cm;
    transform: scale(0.97);
  }
  html,
  body {
    width: 21cm;
    height: 29.7cm;
    margin: 0;
    padding: 0;
  }
  .row {
    margin: 0;
    display: none;
  }
  #table-content {
    margin: 0 !important;
  }
  #table-content .row {
    display: block;
  }
  #table-content .no-print {
    display: none;
  }
  table.timetable {
    width: 100%;
    --td-size-1: 80px;
    --td-size-2: 50px;
    --gap-size: 10px;
  }
  table.timetable caption {
    display: table-caption !important;
  }
  table.timetable caption h1 {
    line-height: 1.2;
  }
  table.timetable tfoot {
    display: table-footer-group !important;
  }
  table.timetable th,
  table.timetable td {
    box-shadow: inset 0 0 0 0.1mm rgba(0, 0, 0, 0.2) !important;
  }

  table.timetable th {
    font-size: 10pt;
  }
  table.timetable thead th {
    font-size: 12pt;
    height: 1cm;
  }
  table.timetable td {
    font-size: 9pt;
  }

  .cell {
    font-size: 7pt;
    background-color: #dfdfdf !important;
    box-shadow: inset 0 0 0.3mm 0.1mm rgba(0, 0, 0, 0.3) !important;
  }
  .cell > .start,
  .cell > .end {
    opacity: 0.8;
  }
  .cell .number {
    font-size: 6pt;
  }
  .cell .teacher {
    font-size: 7pt;
  }
  .cell .title {
    font-size: 8pt;
    background: rgba(0, 0, 0, 0.1) !important;
    padding: 1mm;
  }
  .cell .week,
  .cell .timespan {
    font-size: 7pt;
    display: inline-block;
  }
  .cell .week:after,
  .cell .timespan:after {
    font-size: 3pt;
    vertical-align: super;
  }
  .cell .classroom {
    font-size: 7pt;
    line-height: 1.2;
  }
  .cell .classes {
    font-size: 5pt;
  }
  #lessons {
    width: auto;
    margin: 0.2cm;
    transform: scale(0.97);
  }
  #lessons td:last-child:not(:empty) {
    min-width: 3cm;
  }
}

@media print and (orientation: landscape), print and (min-width: 30cm) {
  html,
  body {
    height: 21cm;
    width: 29.7cm;
  }
  table.timetable {
    --td-size-1: 52px;
    --td-size-2: 34px;
    --gap-size: 4px;
  }
  table.timetable tbody th.span {
    width: 4em;
    text-align: left;
    padding-left: 0.5em;
  }

  .cell > .c {
    justify-content: space-around;
  }
  .c .number {
    order: 1;
  }
  .c .title {
    order: 4;
  }
  .c .classroom {
    order: 5;
  }
  .c .classes {
    order: 6;
  }
  .c .number {
    flex: 0 0 auto;
    order: 1;
  }
  .cell .teacher {
    order: 2;
    flex: 0 0 auto;
  }
  .cell .time {
    order: 3;
    flex: 0 0 auto;
  }
  .c .classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .c .classes li {
    margin: 0 0.2em;
  }
  #lessons td:last-child:not(:empty) {
    min-width: 5cm;
  }

  .no-print {
    display: none;
  }

  .paging {
    page-break-after: always;
  }
}
